:root {
    --grey: #322E32;
    --grey2: #292529;
    --grey3: #221f22;
    --green1: #588157;
}




body {
    background-color: #322E32;
    font-family: 'Rubik';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}



h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}


.addTask {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#addTaskBtn, 
#taskInput {
    padding: 1rem;
    border: none;
    font-size: 1rem;
}

#taskInput {
    width: 20rem;
    border-radius: 1rem;
}

#addTaskBtn {
    background-color: var(--grey2);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .6s;
}

#addTaskBtn:hover {
    background-color: var(--grey3);
}